asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2.1
django-htmx==1.23.0
djangorestframework==3.16.0
Faker==37.3.0
idna==3.10
Markdown==3.8
markdown2==2.5.3
mdgen==0.1.10
mysqlclient==2.2.7
requests==2.32.3
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
